<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex, nofollow">
    <title>Erreur</title>
    <link href="css/style.css?" rel="stylesheet">
  </head>
  <body>
   <main id="contenu">
      {{ include(templateMain) }}
    </main>
  </body>
</html>