    <main class="formulaire_connexion flex_column flex_justify_center">
        <form class="flex_column" action="" method="post">
            <div class="info_connexion flex_column">
                <div class="flex_row flex_align_center">
                    <i class="fa-solid fa-envelope"></i><input aria-label="email" type="email" name="email" id="email"
                        placeholder="Email" required>
                </div>
                <div class="flex_row flex_align_center">
                    <i class="fa-solid fa-lock"></i><input aria-label="password" type="text" name="password"
                        id="password" placeholder="Mot de passe" required>
                </div>
                <h3 style="color:red">{{erreur}}</h3>
                <a href="#">Mot de passe oublié ?</a>
            </div>
              {% if erreurs['connexion'] != "" %}
                            <br><span id="messageErreurConnexion" style="color: red;">&nbsp;{{erreurs['connexion']}}</span>
                        {% endif %}
            <button class="call_to_action bleu" type="submit">Connexion</button>
        </form>
    </main>
